.footer{
    display: grid;
    height: 100px;
    align-items: center;
    background-color: $bgcolor;
    color: white;
    grid-template-areas: "info-personal follow-me social-network";

    &__info{
        grid-template-areas: info-personal;
        display: flex;
        justify-content: center;
        font-size: 12px;
      }

    &__follow-me{
        grid-template-areas: follow-me;
        text-align: end;
      } 

    &__ig{
        margin: 5px;
        width: 35px;
        height: 35px;
      }
  }