.galeria{
    background-image: url(../img/bg.jpg);
    background-size: cover;

    h1{
        text-align: center;
        font-family: Roboto, sans-serif;
        font-size: 70px;
    }
    
    &__column img{
        width: 100%;
        flex: 25%;
        padding: 5px;
        margin-top: 5px;
        border-radius: 10px;
    }

    &__row{
        display: flex;
        padding: 5px;
    }
}